* {
  font-family: Futura, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background: #090a0f radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  margin: 0;
}
