.copyright {
  font-size: 12px;
  text-transform: uppercase;
}

.footer {
  color: #666;
  bottom: 0;
  left: 0;
  padding: 20px;
  position: fixed;
  right: 0;
}

.footer div:first-of-type {
  flex-grow: 1;
}

.socialItem a {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  color: transparent;
  display: block;
  height: 32px;
  margin-left: 20px;
  opacity: .4;
  overflow: hidden;
  transition: .25s opacity;
  width: 32px;
}

.socialItem a:hover {
  opacity: 1;
}

.socialItem a.discord {
  background-image: url(/images/discord-icon.svg);
}

.socialItem a.discord:hover {
  background-image: url(/images/discord-icon.svg);
}

.socialItem a.github {
  background-image: url(/images/github-icon.svg);
}

.socialItem a.github:hover {
  background-image: url(/images/github-icon.svg);
}

.socialItem a.instagram {
  background-image: url(/images/instagram-icon.svg);
}

.socialItem a.instagram:hover {
  background-image: url(/images/github-icon.svg);
}

.socialItem a.telegram {
  background-image: url(/images/telegram-icon.svg);
}

.socialItem a.telegram:hover {
  background-image: url(/images/telegram-icon.svg);
}

.socialItem a.twitter {
  background-image: url(/images/twitter-icon.svg);
}

.socialItem a.twitter:hover {
  background-image: url(/images/twitter-icon.svg);
}

.socialList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  align-items: center;
  display: flex;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 420px) {
  .copyright {
    margin-top: 20px;
  }

  .socialItem a {
    margin: 0 5px;
  }

  .wrapper {
    flex-direction: column-reverse;
  }
}