.hero {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 142px 1821px #fff, 387px 189px #fff, 1709px 1088px #fff,
    1911px 1118px #fff, 235px 771px #fff, 875px 1892px #fff, 1311px 1801px #fff,
    1633px 394px #fff, 1862px 200px #fff, 738px 1641px #fff, 347px 1580px #fff,
    237px 439px #fff, 1304px 444px #fff, 232px 1448px #fff, 1859px 1214px #fff,
    1171px 1050px #fff, 272px 1017px #fff, 1900px 564px #fff, 1801px 8px #fff,
    874px 392px #fff, 1862px 1296px #fff, 107px 1747px #fff, 510px 1640px #fff,
    119px 1228px #fff, 1206px 1145px #fff, 178px 1793px #fff, 1284px 1900px #fff,
    31px 1790px #fff, 1001px 188px #fff, 438px 862px #fff, 1484px 207px #fff,
    241px 828px #fff, 761px 375px #fff, 1070px 1747px #fff, 1959px 762px #fff,
    1670px 1881px #fff, 1671px 1949px #fff, 1015px 1365px #fff,
    1598px 594px #fff, 492px 757px #fff, 976px 978px #fff, 1075px 331px #fff,
    1654px 810px #fff, 1982px 1120px #fff, 1860px 1008px #fff, 1542px 400px #fff,
    1825px 253px #fff, 837px 734px #fff, 375px 391px #fff, 344px 1577px #fff,
    649px 1083px #fff, 1170px 481px #fff, 1676px 504px #fff, 1080px 1762px #fff,
    1964px 1259px #fff, 1516px 404px #fff, 601px 1115px #fff, 1279px 1055px #fff,
    598px 350px #fff, 1173px 665px #fff, 740px 70px #fff, 311px 451px #fff,
    1754px 759px #fff, 1835px 738px #fff, 1571px 434px #fff, 1807px 448px #fff,
    59px 682px #fff, 675px 1751px #fff, 415px 1016px #fff, 1198px 384px #fff,
    874px 252px #fff, 1043px 1910px #fff, 720px 1200px #fff, 1046px 438px #fff,
    1327px 749px #fff, 552px 1081px #fff, 1677px 632px #fff, 476px 708px #fff,
    217px 856px #fff, 1905px 254px #fff, 1528px 1771px #fff, 357px 512px #fff,
    1865px 991px #fff, 992px 1013px #fff, 1061px 1985px #fff, 1646px 1866px #fff,
    209px 325px #fff, 397px 1060px #fff, 1301px 1145px #fff, 957px 1495px #fff,
    234px 908px #fff, 1954px 767px #fff, 501px 566px #fff, 1701px 910px #fff,
    301px 1638px #fff, 207px 1454px #fff, 988px 1088px #fff, 1238px 461px #fff,
    1822px 815px #fff, 1662px 1675px #fff, 1275px 1282px #fff, 602px 1291px #fff,
    1951px 1126px #fff, 375px 1804px #fff, 1424px 91px #fff, 145px 1020px #fff,
    1312px 417px #fff, 1810px 1373px #fff, 1017px 1498px #fff, 1708px 30px #fff,
    1509px 579px #fff, 1105px 763px #fff, 1411px 428px #fff, 1634px 49px #fff,
    1589px 1711px #fff, 282px 1903px #fff, 20px 1017px #fff, 1955px 1722px #fff,
    78px 365px #fff, 451px 1000px #fff, 183px 1686px #fff, 804px 1185px #fff,
    1986px 636px #fff, 1939px 1188px #fff, 1125px 1342px #fff, 1014px 393px #fff,
    70px 1366px #fff, 1758px 485px #fff, 1969px 832px #fff, 1775px 104px #fff,
    900px 1613px #fff, 1895px 784px #fff, 19px 276px #fff, 744px 1714px #fff,
    1696px 1488px #fff, 1767px 1919px #fff, 1624px 1799px #fff,
    483px 1790px #fff, 1076px 655px #fff, 1185px 218px #fff, 1620px 177px #fff,
    652px 1636px #fff, 689px 177px #fff, 1615px 618px #fff, 438px 1726px #fff,
    1332px 1682px #fff, 1621px 50px #fff, 1483px 1027px #fff, 1021px 461px #fff,
    756px 769px #fff, 539px 704px #fff, 1615px 1379px #fff, 1186px 1700px #fff,
    942px 1703px #fff, 1315px 76px #fff, 856px 1831px #fff, 971px 1097px #fff,
    780px 1394px #fff, 1207px 1726px #fff, 381px 691px #fff, 752px 1361px #fff,
    1280px 126px #fff, 822px 1988px #fff, 619px 1480px #fff, 859px 1496px #fff,
    38px 1508px #fff, 1668px 109px #fff, 1667px 1160px #fff, 1071px 929px #fff,
    327px 180px #fff, 787px 95px #fff, 368px 1111px #fff, 474px 678px #fff,
    1983px 1443px #fff, 1651px 1258px #fff, 58px 180px #fff, 412px 900px #fff,
    141px 309px #fff, 573px 1860px #fff, 628px 526px #fff, 417px 217px #fff,
    1697px 422px #fff, 1770px 1941px #fff, 1376px 1842px #fff,
    1722px 1937px #fff, 514px 671px #fff, 885px 755px #fff, 1857px 1922px #fff,
    68px 142px #fff, 1371px 1627px #fff, 1290px 1677px #fff, 684px 1027px #fff,
    221px 1611px #fff, 1165px 391px #fff, 659px 1378px #fff, 1575px 572px #fff,
    720px 1056px #fff, 743px 754px #fff, 1670px 386px #fff, 1247px 1644px #fff,
    1242px 278px #fff, 1290px 1275px #fff, 381px 52px #fff, 749px 1940px #fff,
    1879px 850px #fff, 1234px 1548px #fff, 485px 199px #fff, 1097px 619px #fff,
    1727px 589px #fff, 1269px 1755px #fff, 1618px 1308px #fff,
    1375px 1912px #fff, 1443px 449px #fff, 1666px 1562px #fff,
    1629px 1386px #fff, 357px 586px #fff, 269px 177px #fff, 623px 1006px #fff,
    1707px 1642px #fff, 303px 819px #fff, 1100px 1457px #fff, 301px 169px #fff,
    960px 532px #fff, 1080px 635px #fff, 777px 1206px #fff, 792px 1978px #fff,
    1434px 902px #fff, 1310px 1555px #fff, 379px 336px #fff, 700px 53px #fff,
    1979px 636px #fff, 1899px 661px #fff, 473px 822px #fff, 1459px 250px #fff,
    1032px 1006px #fff, 1824px 544px #fff, 1165px 796px #fff, 810px 1462px #fff,
    1749px 1439px #fff, 1946px 1192px #fff, 216px 1484px #fff,
    1930px 1869px #fff, 1516px 1414px #fff, 990px 924px #fff, 1814px 1961px #fff,
    1591px 859px #fff, 384px 1361px #fff, 1401px 1718px #fff, 976px 1992px #fff,
    1827px 637px #fff, 938px 1877px #fff, 59px 1233px #fff, 361px 1003px #fff,
    1068px 1398px #fff, 868px 248px #fff, 418px 1167px #fff, 901px 621px #fff,
    1116px 738px #fff, 852px 348px #fff, 95px 1313px #fff, 1441px 1665px #fff,
    196px 359px #fff, 213px 673px #fff, 1831px 674px #fff, 1938px 839px #fff,
    900px 288px #fff, 1335px 268px #fff, 728px 1816px #fff, 1383px 731px #fff,
    426px 1380px #fff, 1458px 1223px #fff, 1788px 664px #fff, 1669px 1261px #fff,
    889px 595px #fff, 629px 1004px #fff, 1644px 746px #fff, 710px 1132px #fff,
    1571px 1263px #fff, 799px 702px #fff, 578px 1540px #fff, 1873px 1090px #fff,
    1420px 475px #fff, 1210px 103px #fff, 1752px 1430px #fff, 824px 1473px #fff,
    781px 569px #fff, 1458px 1402px #fff, 44px 1790px #fff, 246px 1347px #fff,
    566px 1996px #fff, 560px 834px #fff, 144px 1763px #fff, 1286px 1114px #fff,
    870px 1237px #fff, 1767px 891px #fff, 524px 1992px #fff, 1395px 1308px #fff,
    1636px 1392px #fff, 1186px 34px #fff, 1783px 498px #fff, 175px 481px #fff,
    102px 1142px #fff, 708px 141px #fff, 1930px 470px #fff, 745px 183px #fff,
    1767px 267px #fff, 1249px 311px #fff, 1833px 1833px #fff, 883px 1210px #fff,
    1632px 1380px #fff, 1945px 189px #fff, 372px 1179px #fff, 342px 825px #fff,
    1190px 972px #fff, 1987px 62px #fff, 1992px 1819px #fff, 1100px 200px #fff,
    318px 1571px #fff, 1720px 239px #fff, 1489px 339px #fff, 1294px 1949px #fff,
    899px 1342px #fff, 188px 1750px #fff, 905px 1357px #fff, 27px 1473px #fff,
    662px 354px #fff, 203px 1330px #fff, 76px 1478px #fff, 1604px 1654px #fff,
    1957px 420px #fff, 1500px 174px #fff, 1540px 1600px #fff, 1712px 52px #fff,
    914px 1711px #fff, 945px 1958px #fff, 1616px 356px #fff, 21px 1233px #fff,
    437px 902px #fff, 802px 552px #fff, 671px 132px #fff, 766px 200px #fff,
    342px 1847px #fff, 30px 198px #fff, 714px 860px #fff, 1708px 728px #fff,
    1837px 1632px #fff, 1458px 1607px #fff, 1935px 937px #fff, 718px 1655px #fff,
    615px 1228px #fff, 1139px 1259px #fff, 1076px 1435px #fff, 114px 524px #fff,
    1734px 14px #fff, 1613px 1298px #fff, 980px 445px #fff, 1781px 1604px #fff,
    39px 870px #fff, 995px 1790px #fff, 1789px 423px #fff, 1137px 1332px #fff,
    1550px 1690px #fff, 1006px 777px #fff, 1429px 687px #fff, 1559px 319px #fff,
    528px 315px #fff, 1990px 1125px #fff, 18px 329px #fff, 1890px 887px #fff,
    1720px 363px #fff, 1683px 927px #fff, 967px 421px #fff, 174px 87px #fff,
    321px 1781px #fff, 302px 1244px #fff, 1327px 1206px #fff, 472px 686px #fff,
    399px 1829px #fff, 27px 1062px #fff, 1952px 1979px #fff, 1197px 1657px #fff,
    1628px 993px #fff, 698px 361px #fff, 1143px 1084px #fff, 710px 541px #fff,
    795px 1036px #fff, 293px 803px #fff, 1819px 363px #fff, 1033px 295px #fff,
    919px 803px #fff, 121px 438px #fff, 1184px 653px #fff, 560px 315px #fff,
    1607px 1275px #fff, 223px 151px #fff, 779px 1398px #fff, 1307px 1358px #fff,
    1686px 1694px #fff, 564px 1078px #fff, 1669px 675px #fff, 1556px 218px #fff,
    1154px 283px #fff, 1135px 379px #fff, 624px 784px #fff, 852px 940px #fff,
    41px 1342px #fff, 1334px 892px #fff, 1146px 91px #fff, 412px 721px #fff,
    563px 754px #fff, 1694px 530px #fff, 1832px 352px #fff, 1887px 1077px #fff,
    772px 2px #fff, 1148px 927px #fff, 803px 1571px #fff, 224px 667px #fff,
    1349px 325px #fff, 1157px 146px #fff, 1795px 21px #fff, 186px 1064px #fff,
    686px 1363px #fff, 29px 1142px #fff, 1290px 988px #fff, 26px 1611px #fff,
    843px 1917px #fff, 1255px 753px #fff, 824px 1578px #fff, 1807px 299px #fff,
    961px 735px #fff, 392px 1329px #fff, 1945px 1917px #fff, 807px 328px #fff,
    457px 445px #fff, 1480px 1039px #fff, 277px 1374px #fff, 894px 1567px #fff,
    1218px 1153px #fff, 385px 120px #fff, 1359px 891px #fff, 1098px 87px #fff,
    869px 504px #fff, 1292px 1614px #fff, 669px 513px #fff, 578px 977px #fff,
    437px 227px #fff, 600px 1554px #fff, 1046px 1349px #fff, 1226px 455px #fff,
    245px 1593px #fff, 1484px 1458px #fff, 149px 1976px #fff, 398px 1967px #fff,
    37px 1740px #fff, 1219px 1308px #fff, 321px 1481px #fff, 64px 1309px #fff,
    866px 531px #fff, 1870px 1688px #fff, 276px 1729px #fff, 816px 1346px #fff,
    1311px 1119px #fff, 741px 1616px #fff, 1053px 234px #fff, 495px 266px #fff,
    1143px 770px #fff, 1199px 870px #fff, 721px 1306px #fff, 1517px 601px #fff,
    1864px 1348px #fff, 1689px 1753px #fff, 877px 154px #fff, 1414px 1660px #fff,
    5px 57px #fff, 959px 1085px #fff, 1444px 1724px #fff, 538px 1992px #fff,
    132px 734px #fff, 388px 224px #fff, 95px 1393px #fff, 771px 1024px #fff,
    1788px 1290px #fff, 277px 325px #fff, 970px 1125px #fff, 310px 1612px #fff,
    85px 511px #fff, 1177px 1029px #fff, 1661px 1650px #fff, 1166px 453px #fff,
    1873px 1834px #fff, 1569px 315px #fff, 1144px 1132px #fff, 260px 1500px #fff,
    1438px 1676px #fff, 1949px 5px #fff, 559px 1275px #fff, 562px 1166px #fff,
    1518px 1019px #fff, 983px 1168px #fff, 1399px 1140px #fff, 906px 1224px #fff,
    1397px 308px #fff, 392px 1067px #fff, 1616px 1145px #fff, 598px 1758px #fff,
    973px 87px #fff, 431px 1573px #fff, 647px 1025px #fff, 443px 1746px #fff,
    1526px 355px #fff, 1803px 529px #fff, 282px 728px #fff, 90px 497px #fff,
    1424px 794px #fff, 1919px 928px #fff, 289px 1103px #fff, 46px 1182px #fff,
    1396px 675px #fff, 254px 1143px #fff, 1400px 1576px #fff, 1027px 719px #fff,
    1311px 1951px #fff, 1518px 1653px #fff, 1981px 781px #fff, 603px 682px #fff,
    1470px 932px #fff, 1062px 935px #fff, 1977px 1706px #fff, 1687px 1663px #fff,
    1668px 1778px #fff, 840px 1518px #fff, 715px 71px #fff, 1938px 1527px #fff,
    1989px 433px #fff, 1430px 1024px #fff, 629px 1559px #fff, 573px 936px #fff,
    1276px 1586px #fff, 49px 209px #fff, 1871px 1596px #fff, 1715px 451px #fff,
    1056px 327px #fff, 1055px 536px #fff, 827px 1232px #fff, 287px 1318px #fff,
    1093px 627px #fff, 1794px 183px #fff, 1363px 291px #fff, 1282px 1223px #fff,
    325px 1205px #fff, 1614px 1586px #fff, 891px 1618px #fff, 467px 1982px #fff,
    30px 1890px #fff, 1609px 1591px #fff, 88px 1980px #fff, 893px 634px #fff,
    1640px 1168px #fff, 673px 724px #fff, 1186px 858px #fff, 1841px 614px #fff,
    448px 288px #fff, 741px 1960px #fff, 1388px 841px #fff, 1897px 819px #fff,
    1722px 1447px #fff, 393px 206px #fff, 704px 1119px #fff, 267px 1957px #fff,
    1572px 786px #fff, 1451px 887px #fff, 971px 641px #fff, 1720px 1523px #fff,
    1284px 568px #fff, 1343px 1655px #fff, 789px 729px #fff, 921px 1203px #fff,
    85px 1481px #fff, 430px 1191px #fff, 674px 1941px #fff, 103px 786px #fff,
    748px 1955px #fff, 632px 83px #fff, 12px 1616px #fff, 1661px 309px #fff,
    1778px 476px #fff, 264px 1325px #fff, 1567px 57px #fff, 1150px 373px #fff,
    1384px 131px #fff, 609px 129px #fff, 130px 1804px #fff, 1349px 1523px #fff,
    838px 947px #fff, 797px 1239px #fff, 1201px 954px #fff, 527px 1454px #fff,
    237px 23px #fff, 1220px 898px #fff, 1853px 930px #fff, 740px 723px #fff,
    1495px 1008px #fff, 470px 1588px #fff, 953px 1731px #fff, 1014px 1194px #fff,
    388px 247px #fff, 689px 887px #fff, 746px 1253px #fff, 2000px 1212px #fff,
    1027px 1582px #fff, 1231px 317px #fff, 1208px 26px #fff, 1989px 386px #fff,
    427px 710px #fff, 616px 1416px #fff, 578px 1657px #fff, 1269px 1207px #fff,
    1496px 967px #fff, 1561px 1484px #fff, 1780px 1725px #fff, 41px 1165px #fff,
    992px 921px #fff, 244px 65px #fff, 1159px 670px #fff, 244px 1109px #fff,
    649px 1193px #fff, 1481px 757px #fff, 809px 499px #fff, 975px 1244px #fff,
    118px 1636px #fff, 1968px 1179px #fff, 1720px 1800px #fff, 811px 1310px #fff,
    694px 465px #fff, 1616px 169px #fff, 1982px 453px #fff, 1366px 1155px #fff,
    1414px 1146px #fff, 1294px 1247px #fff, 73px 1384px #fff, 567px 263px #fff,
    1423px 1936px #fff, 1462px 1630px #fff, 1677px 1683px #fff, 680px 851px #fff,
    462px 1336px #fff, 1256px 1857px #fff, 218px 964px #fff, 1424px 1205px #fff,
    634px 522px #fff, 1189px 973px #fff, 197px 748px #fff, 1716px 657px #fff,
    1091px 1025px #fff, 1172px 304px #fff, 1011px 1155px #fff, 991px 1189px #fff,
    1572px 1238px #fff, 881px 576px #fff, 391px 887px #fff, 1640px 326px #fff,
    1469px 171px #fff, 986px 1402px #fff, 783px 1096px #fff, 127px 1177px #fff,
    64px 1486px #fff, 659px 269px #fff, 1510px 1845px #fff, 1452px 407px #fff,
    205px 1638px #fff, 837px 845px #fff, 619px 792px #fff, 304px 1619px #fff,
    1586px 292px #fff, 1015px 1251px #fff, 1213px 795px #fff, 517px 1586px #fff,
    667px 792px #fff, 305px 1166px #fff, 571px 1978px #fff, 1593px 1183px #fff,
    1531px 1477px #fff, 268px 1910px #fff, 1871px 289px #fff, 310px 1088px #fff,
    36px 1328px #fff, 1833px 94px #fff, 1480px 944px #fff, 361px 355px #fff,
    700px 1804px #fff, 939px 101px #fff, 995px 1829px #fff, 493px 344px #fff,
    734px 1124px #fff, 744px 761px #fff, 1040px 531px #fff, 957px 1436px #fff,
    489px 1152px #fff, 1543px 1715px #fff, 80px 1547px #fff;
  animation: animStar 50s linear infinite;
}
.stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 142px 1821px #fff, 387px 189px #fff, 1709px 1088px #fff,
    1911px 1118px #fff, 235px 771px #fff, 875px 1892px #fff, 1311px 1801px #fff,
    1633px 394px #fff, 1862px 200px #fff, 738px 1641px #fff, 347px 1580px #fff,
    237px 439px #fff, 1304px 444px #fff, 232px 1448px #fff, 1859px 1214px #fff,
    1171px 1050px #fff, 272px 1017px #fff, 1900px 564px #fff, 1801px 8px #fff,
    874px 392px #fff, 1862px 1296px #fff, 107px 1747px #fff, 510px 1640px #fff,
    119px 1228px #fff, 1206px 1145px #fff, 178px 1793px #fff, 1284px 1900px #fff,
    31px 1790px #fff, 1001px 188px #fff, 438px 862px #fff, 1484px 207px #fff,
    241px 828px #fff, 761px 375px #fff, 1070px 1747px #fff, 1959px 762px #fff,
    1670px 1881px #fff, 1671px 1949px #fff, 1015px 1365px #fff,
    1598px 594px #fff, 492px 757px #fff, 976px 978px #fff, 1075px 331px #fff,
    1654px 810px #fff, 1982px 1120px #fff, 1860px 1008px #fff, 1542px 400px #fff,
    1825px 253px #fff, 837px 734px #fff, 375px 391px #fff, 344px 1577px #fff,
    649px 1083px #fff, 1170px 481px #fff, 1676px 504px #fff, 1080px 1762px #fff,
    1964px 1259px #fff, 1516px 404px #fff, 601px 1115px #fff, 1279px 1055px #fff,
    598px 350px #fff, 1173px 665px #fff, 740px 70px #fff, 311px 451px #fff,
    1754px 759px #fff, 1835px 738px #fff, 1571px 434px #fff, 1807px 448px #fff,
    59px 682px #fff, 675px 1751px #fff, 415px 1016px #fff, 1198px 384px #fff,
    874px 252px #fff, 1043px 1910px #fff, 720px 1200px #fff, 1046px 438px #fff,
    1327px 749px #fff, 552px 1081px #fff, 1677px 632px #fff, 476px 708px #fff,
    217px 856px #fff, 1905px 254px #fff, 1528px 1771px #fff, 357px 512px #fff,
    1865px 991px #fff, 992px 1013px #fff, 1061px 1985px #fff, 1646px 1866px #fff,
    209px 325px #fff, 397px 1060px #fff, 1301px 1145px #fff, 957px 1495px #fff,
    234px 908px #fff, 1954px 767px #fff, 501px 566px #fff, 1701px 910px #fff,
    301px 1638px #fff, 207px 1454px #fff, 988px 1088px #fff, 1238px 461px #fff,
    1822px 815px #fff, 1662px 1675px #fff, 1275px 1282px #fff, 602px 1291px #fff,
    1951px 1126px #fff, 375px 1804px #fff, 1424px 91px #fff, 145px 1020px #fff,
    1312px 417px #fff, 1810px 1373px #fff, 1017px 1498px #fff, 1708px 30px #fff,
    1509px 579px #fff, 1105px 763px #fff, 1411px 428px #fff, 1634px 49px #fff,
    1589px 1711px #fff, 282px 1903px #fff, 20px 1017px #fff, 1955px 1722px #fff,
    78px 365px #fff, 451px 1000px #fff, 183px 1686px #fff, 804px 1185px #fff,
    1986px 636px #fff, 1939px 1188px #fff, 1125px 1342px #fff, 1014px 393px #fff,
    70px 1366px #fff, 1758px 485px #fff, 1969px 832px #fff, 1775px 104px #fff,
    900px 1613px #fff, 1895px 784px #fff, 19px 276px #fff, 744px 1714px #fff,
    1696px 1488px #fff, 1767px 1919px #fff, 1624px 1799px #fff,
    483px 1790px #fff, 1076px 655px #fff, 1185px 218px #fff, 1620px 177px #fff,
    652px 1636px #fff, 689px 177px #fff, 1615px 618px #fff, 438px 1726px #fff,
    1332px 1682px #fff, 1621px 50px #fff, 1483px 1027px #fff, 1021px 461px #fff,
    756px 769px #fff, 539px 704px #fff, 1615px 1379px #fff, 1186px 1700px #fff,
    942px 1703px #fff, 1315px 76px #fff, 856px 1831px #fff, 971px 1097px #fff,
    780px 1394px #fff, 1207px 1726px #fff, 381px 691px #fff, 752px 1361px #fff,
    1280px 126px #fff, 822px 1988px #fff, 619px 1480px #fff, 859px 1496px #fff,
    38px 1508px #fff, 1668px 109px #fff, 1667px 1160px #fff, 1071px 929px #fff,
    327px 180px #fff, 787px 95px #fff, 368px 1111px #fff, 474px 678px #fff,
    1983px 1443px #fff, 1651px 1258px #fff, 58px 180px #fff, 412px 900px #fff,
    141px 309px #fff, 573px 1860px #fff, 628px 526px #fff, 417px 217px #fff,
    1697px 422px #fff, 1770px 1941px #fff, 1376px 1842px #fff,
    1722px 1937px #fff, 514px 671px #fff, 885px 755px #fff, 1857px 1922px #fff,
    68px 142px #fff, 1371px 1627px #fff, 1290px 1677px #fff, 684px 1027px #fff,
    221px 1611px #fff, 1165px 391px #fff, 659px 1378px #fff, 1575px 572px #fff,
    720px 1056px #fff, 743px 754px #fff, 1670px 386px #fff, 1247px 1644px #fff,
    1242px 278px #fff, 1290px 1275px #fff, 381px 52px #fff, 749px 1940px #fff,
    1879px 850px #fff, 1234px 1548px #fff, 485px 199px #fff, 1097px 619px #fff,
    1727px 589px #fff, 1269px 1755px #fff, 1618px 1308px #fff,
    1375px 1912px #fff, 1443px 449px #fff, 1666px 1562px #fff,
    1629px 1386px #fff, 357px 586px #fff, 269px 177px #fff, 623px 1006px #fff,
    1707px 1642px #fff, 303px 819px #fff, 1100px 1457px #fff, 301px 169px #fff,
    960px 532px #fff, 1080px 635px #fff, 777px 1206px #fff, 792px 1978px #fff,
    1434px 902px #fff, 1310px 1555px #fff, 379px 336px #fff, 700px 53px #fff,
    1979px 636px #fff, 1899px 661px #fff, 473px 822px #fff, 1459px 250px #fff,
    1032px 1006px #fff, 1824px 544px #fff, 1165px 796px #fff, 810px 1462px #fff,
    1749px 1439px #fff, 1946px 1192px #fff, 216px 1484px #fff,
    1930px 1869px #fff, 1516px 1414px #fff, 990px 924px #fff, 1814px 1961px #fff,
    1591px 859px #fff, 384px 1361px #fff, 1401px 1718px #fff, 976px 1992px #fff,
    1827px 637px #fff, 938px 1877px #fff, 59px 1233px #fff, 361px 1003px #fff,
    1068px 1398px #fff, 868px 248px #fff, 418px 1167px #fff, 901px 621px #fff,
    1116px 738px #fff, 852px 348px #fff, 95px 1313px #fff, 1441px 1665px #fff,
    196px 359px #fff, 213px 673px #fff, 1831px 674px #fff, 1938px 839px #fff,
    900px 288px #fff, 1335px 268px #fff, 728px 1816px #fff, 1383px 731px #fff,
    426px 1380px #fff, 1458px 1223px #fff, 1788px 664px #fff, 1669px 1261px #fff,
    889px 595px #fff, 629px 1004px #fff, 1644px 746px #fff, 710px 1132px #fff,
    1571px 1263px #fff, 799px 702px #fff, 578px 1540px #fff, 1873px 1090px #fff,
    1420px 475px #fff, 1210px 103px #fff, 1752px 1430px #fff, 824px 1473px #fff,
    781px 569px #fff, 1458px 1402px #fff, 44px 1790px #fff, 246px 1347px #fff,
    566px 1996px #fff, 560px 834px #fff, 144px 1763px #fff, 1286px 1114px #fff,
    870px 1237px #fff, 1767px 891px #fff, 524px 1992px #fff, 1395px 1308px #fff,
    1636px 1392px #fff, 1186px 34px #fff, 1783px 498px #fff, 175px 481px #fff,
    102px 1142px #fff, 708px 141px #fff, 1930px 470px #fff, 745px 183px #fff,
    1767px 267px #fff, 1249px 311px #fff, 1833px 1833px #fff, 883px 1210px #fff,
    1632px 1380px #fff, 1945px 189px #fff, 372px 1179px #fff, 342px 825px #fff,
    1190px 972px #fff, 1987px 62px #fff, 1992px 1819px #fff, 1100px 200px #fff,
    318px 1571px #fff, 1720px 239px #fff, 1489px 339px #fff, 1294px 1949px #fff,
    899px 1342px #fff, 188px 1750px #fff, 905px 1357px #fff, 27px 1473px #fff,
    662px 354px #fff, 203px 1330px #fff, 76px 1478px #fff, 1604px 1654px #fff,
    1957px 420px #fff, 1500px 174px #fff, 1540px 1600px #fff, 1712px 52px #fff,
    914px 1711px #fff, 945px 1958px #fff, 1616px 356px #fff, 21px 1233px #fff,
    437px 902px #fff, 802px 552px #fff, 671px 132px #fff, 766px 200px #fff,
    342px 1847px #fff, 30px 198px #fff, 714px 860px #fff, 1708px 728px #fff,
    1837px 1632px #fff, 1458px 1607px #fff, 1935px 937px #fff, 718px 1655px #fff,
    615px 1228px #fff, 1139px 1259px #fff, 1076px 1435px #fff, 114px 524px #fff,
    1734px 14px #fff, 1613px 1298px #fff, 980px 445px #fff, 1781px 1604px #fff,
    39px 870px #fff, 995px 1790px #fff, 1789px 423px #fff, 1137px 1332px #fff,
    1550px 1690px #fff, 1006px 777px #fff, 1429px 687px #fff, 1559px 319px #fff,
    528px 315px #fff, 1990px 1125px #fff, 18px 329px #fff, 1890px 887px #fff,
    1720px 363px #fff, 1683px 927px #fff, 967px 421px #fff, 174px 87px #fff,
    321px 1781px #fff, 302px 1244px #fff, 1327px 1206px #fff, 472px 686px #fff,
    399px 1829px #fff, 27px 1062px #fff, 1952px 1979px #fff, 1197px 1657px #fff,
    1628px 993px #fff, 698px 361px #fff, 1143px 1084px #fff, 710px 541px #fff,
    795px 1036px #fff, 293px 803px #fff, 1819px 363px #fff, 1033px 295px #fff,
    919px 803px #fff, 121px 438px #fff, 1184px 653px #fff, 560px 315px #fff,
    1607px 1275px #fff, 223px 151px #fff, 779px 1398px #fff, 1307px 1358px #fff,
    1686px 1694px #fff, 564px 1078px #fff, 1669px 675px #fff, 1556px 218px #fff,
    1154px 283px #fff, 1135px 379px #fff, 624px 784px #fff, 852px 940px #fff,
    41px 1342px #fff, 1334px 892px #fff, 1146px 91px #fff, 412px 721px #fff,
    563px 754px #fff, 1694px 530px #fff, 1832px 352px #fff, 1887px 1077px #fff,
    772px 2px #fff, 1148px 927px #fff, 803px 1571px #fff, 224px 667px #fff,
    1349px 325px #fff, 1157px 146px #fff, 1795px 21px #fff, 186px 1064px #fff,
    686px 1363px #fff, 29px 1142px #fff, 1290px 988px #fff, 26px 1611px #fff,
    843px 1917px #fff, 1255px 753px #fff, 824px 1578px #fff, 1807px 299px #fff,
    961px 735px #fff, 392px 1329px #fff, 1945px 1917px #fff, 807px 328px #fff,
    457px 445px #fff, 1480px 1039px #fff, 277px 1374px #fff, 894px 1567px #fff,
    1218px 1153px #fff, 385px 120px #fff, 1359px 891px #fff, 1098px 87px #fff,
    869px 504px #fff, 1292px 1614px #fff, 669px 513px #fff, 578px 977px #fff,
    437px 227px #fff, 600px 1554px #fff, 1046px 1349px #fff, 1226px 455px #fff,
    245px 1593px #fff, 1484px 1458px #fff, 149px 1976px #fff, 398px 1967px #fff,
    37px 1740px #fff, 1219px 1308px #fff, 321px 1481px #fff, 64px 1309px #fff,
    866px 531px #fff, 1870px 1688px #fff, 276px 1729px #fff, 816px 1346px #fff,
    1311px 1119px #fff, 741px 1616px #fff, 1053px 234px #fff, 495px 266px #fff,
    1143px 770px #fff, 1199px 870px #fff, 721px 1306px #fff, 1517px 601px #fff,
    1864px 1348px #fff, 1689px 1753px #fff, 877px 154px #fff, 1414px 1660px #fff,
    5px 57px #fff, 959px 1085px #fff, 1444px 1724px #fff, 538px 1992px #fff,
    132px 734px #fff, 388px 224px #fff, 95px 1393px #fff, 771px 1024px #fff,
    1788px 1290px #fff, 277px 325px #fff, 970px 1125px #fff, 310px 1612px #fff,
    85px 511px #fff, 1177px 1029px #fff, 1661px 1650px #fff, 1166px 453px #fff,
    1873px 1834px #fff, 1569px 315px #fff, 1144px 1132px #fff, 260px 1500px #fff,
    1438px 1676px #fff, 1949px 5px #fff, 559px 1275px #fff, 562px 1166px #fff,
    1518px 1019px #fff, 983px 1168px #fff, 1399px 1140px #fff, 906px 1224px #fff,
    1397px 308px #fff, 392px 1067px #fff, 1616px 1145px #fff, 598px 1758px #fff,
    973px 87px #fff, 431px 1573px #fff, 647px 1025px #fff, 443px 1746px #fff,
    1526px 355px #fff, 1803px 529px #fff, 282px 728px #fff, 90px 497px #fff,
    1424px 794px #fff, 1919px 928px #fff, 289px 1103px #fff, 46px 1182px #fff,
    1396px 675px #fff, 254px 1143px #fff, 1400px 1576px #fff, 1027px 719px #fff,
    1311px 1951px #fff, 1518px 1653px #fff, 1981px 781px #fff, 603px 682px #fff,
    1470px 932px #fff, 1062px 935px #fff, 1977px 1706px #fff, 1687px 1663px #fff,
    1668px 1778px #fff, 840px 1518px #fff, 715px 71px #fff, 1938px 1527px #fff,
    1989px 433px #fff, 1430px 1024px #fff, 629px 1559px #fff, 573px 936px #fff,
    1276px 1586px #fff, 49px 209px #fff, 1871px 1596px #fff, 1715px 451px #fff,
    1056px 327px #fff, 1055px 536px #fff, 827px 1232px #fff, 287px 1318px #fff,
    1093px 627px #fff, 1794px 183px #fff, 1363px 291px #fff, 1282px 1223px #fff,
    325px 1205px #fff, 1614px 1586px #fff, 891px 1618px #fff, 467px 1982px #fff,
    30px 1890px #fff, 1609px 1591px #fff, 88px 1980px #fff, 893px 634px #fff,
    1640px 1168px #fff, 673px 724px #fff, 1186px 858px #fff, 1841px 614px #fff,
    448px 288px #fff, 741px 1960px #fff, 1388px 841px #fff, 1897px 819px #fff,
    1722px 1447px #fff, 393px 206px #fff, 704px 1119px #fff, 267px 1957px #fff,
    1572px 786px #fff, 1451px 887px #fff, 971px 641px #fff, 1720px 1523px #fff,
    1284px 568px #fff, 1343px 1655px #fff, 789px 729px #fff, 921px 1203px #fff,
    85px 1481px #fff, 430px 1191px #fff, 674px 1941px #fff, 103px 786px #fff,
    748px 1955px #fff, 632px 83px #fff, 12px 1616px #fff, 1661px 309px #fff,
    1778px 476px #fff, 264px 1325px #fff, 1567px 57px #fff, 1150px 373px #fff,
    1384px 131px #fff, 609px 129px #fff, 130px 1804px #fff, 1349px 1523px #fff,
    838px 947px #fff, 797px 1239px #fff, 1201px 954px #fff, 527px 1454px #fff,
    237px 23px #fff, 1220px 898px #fff, 1853px 930px #fff, 740px 723px #fff,
    1495px 1008px #fff, 470px 1588px #fff, 953px 1731px #fff, 1014px 1194px #fff,
    388px 247px #fff, 689px 887px #fff, 746px 1253px #fff, 2000px 1212px #fff,
    1027px 1582px #fff, 1231px 317px #fff, 1208px 26px #fff, 1989px 386px #fff,
    427px 710px #fff, 616px 1416px #fff, 578px 1657px #fff, 1269px 1207px #fff,
    1496px 967px #fff, 1561px 1484px #fff, 1780px 1725px #fff, 41px 1165px #fff,
    992px 921px #fff, 244px 65px #fff, 1159px 670px #fff, 244px 1109px #fff,
    649px 1193px #fff, 1481px 757px #fff, 809px 499px #fff, 975px 1244px #fff,
    118px 1636px #fff, 1968px 1179px #fff, 1720px 1800px #fff, 811px 1310px #fff,
    694px 465px #fff, 1616px 169px #fff, 1982px 453px #fff, 1366px 1155px #fff,
    1414px 1146px #fff, 1294px 1247px #fff, 73px 1384px #fff, 567px 263px #fff,
    1423px 1936px #fff, 1462px 1630px #fff, 1677px 1683px #fff, 680px 851px #fff,
    462px 1336px #fff, 1256px 1857px #fff, 218px 964px #fff, 1424px 1205px #fff,
    634px 522px #fff, 1189px 973px #fff, 197px 748px #fff, 1716px 657px #fff,
    1091px 1025px #fff, 1172px 304px #fff, 1011px 1155px #fff, 991px 1189px #fff,
    1572px 1238px #fff, 881px 576px #fff, 391px 887px #fff, 1640px 326px #fff,
    1469px 171px #fff, 986px 1402px #fff, 783px 1096px #fff, 127px 1177px #fff,
    64px 1486px #fff, 659px 269px #fff, 1510px 1845px #fff, 1452px 407px #fff,
    205px 1638px #fff, 837px 845px #fff, 619px 792px #fff, 304px 1619px #fff,
    1586px 292px #fff, 1015px 1251px #fff, 1213px 795px #fff, 517px 1586px #fff,
    667px 792px #fff, 305px 1166px #fff, 571px 1978px #fff, 1593px 1183px #fff,
    1531px 1477px #fff, 268px 1910px #fff, 1871px 289px #fff, 310px 1088px #fff,
    36px 1328px #fff, 1833px 94px #fff, 1480px 944px #fff, 361px 355px #fff,
    700px 1804px #fff, 939px 101px #fff, 995px 1829px #fff, 493px 344px #fff,
    734px 1124px #fff, 744px 761px #fff, 1040px 531px #fff, 957px 1436px #fff,
    489px 1152px #fff, 1543px 1715px #fff, 80px 1547px #fff;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 236px 403px #fff, 1308px 490px #fff, 1336px 543px #fff,
    1312px 1226px #fff, 592px 1475px #fff, 664px 725px #fff, 1973px 1704px #fff,
    1008px 356px #fff, 1561px 1097px #fff, 1758px 1386px #fff, 881px 1804px #fff,
    1866px 1161px #fff, 1370px 1685px #fff, 1005px 1381px #fff,
    265px 1848px #fff, 1031px 826px #fff, 384px 107px #fff, 885px 568px #fff,
    1936px 181px #fff, 894px 1960px #fff, 1812px 298px #fff, 1234px 767px #fff,
    424px 1648px #fff, 396px 440px #fff, 1637px 545px #fff, 1942px 1387px #fff,
    1149px 1311px #fff, 432px 1896px #fff, 415px 1255px #fff, 1082px 1423px #fff,
    314px 1654px #fff, 811px 1932px #fff, 1256px 574px #fff, 1619px 476px #fff,
    953px 537px #fff, 482px 343px #fff, 71px 1540px #fff, 1740px 663px #fff,
    1928px 1509px #fff, 374px 20px #fff, 488px 1283px #fff, 70px 950px #fff,
    1911px 1177px #fff, 1247px 1953px #fff, 1303px 1091px #fff,
    1739px 1679px #fff, 583px 974px #fff, 1331px 1611px #fff, 1056px 67px #fff,
    1883px 1568px #fff, 749px 1088px #fff, 1439px 1172px #fff,
    1556px 1822px #fff, 1673px 1898px #fff, 1027px 2000px #fff,
    1219px 1173px #fff, 640px 816px #fff, 184px 1919px #fff, 1421px 1528px #fff,
    1404px 1490px #fff, 1974px 106px #fff, 702px 303px #fff, 1956px 337px #fff,
    423px 344px #fff, 745px 453px #fff, 18px 728px #fff, 733px 1328px #fff,
    99px 1582px #fff, 1687px 461px #fff, 675px 1866px #fff, 209px 108px #fff,
    1302px 534px #fff, 644px 1199px #fff, 1911px 1907px #fff, 479px 1381px #fff,
    1548px 940px #fff, 262px 1738px #fff, 743px 227px #fff, 782px 1244px #fff,
    693px 861px #fff, 144px 697px #fff, 174px 1826px #fff, 1479px 1201px #fff,
    287px 1255px #fff, 1435px 1014px #fff, 1703px 1247px #fff, 683px 335px #fff,
    522px 1583px #fff, 575px 767px #fff, 1306px 507px #fff, 1911px 718px #fff,
    449px 1507px #fff, 694px 593px #fff, 755px 696px #fff, 1630px 605px #fff,
    936px 1352px #fff, 59px 325px #fff, 69px 886px #fff, 425px 115px #fff,
    406px 1940px #fff, 1310px 1973px #fff, 834px 1838px #fff, 356px 935px #fff,
    1620px 1202px #fff, 457px 1159px #fff, 1938px 1792px #fff, 954px 1144px #fff,
    478px 1605px #fff, 478px 467px #fff, 59px 48px #fff, 843px 1794px #fff,
    629px 1527px #fff, 784px 1409px #fff, 387px 127px #fff, 1540px 1516px #fff,
    820px 848px #fff, 499px 458px #fff, 1714px 430px #fff, 493px 1691px #fff,
    932px 1393px #fff, 1617px 1571px #fff, 1270px 431px #fff, 167px 1727px #fff,
    962px 736px #fff, 475px 263px #fff, 1269px 239px #fff, 899px 636px #fff,
    1035px 1289px #fff, 1476px 242px #fff, 269px 620px #fff, 1877px 1527px #fff,
    1103px 1261px #fff, 26px 1181px #fff, 808px 1029px #fff, 1041px 518px #fff,
    1905px 707px #fff, 796px 1213px #fff, 1045px 1711px #fff, 275px 853px #fff,
    1143px 1510px #fff, 393px 630px #fff, 512px 1792px #fff, 604px 1634px #fff,
    253px 1851px #fff, 469px 1357px #fff, 43px 1772px #fff, 11px 658px #fff,
    810px 55px #fff, 928px 854px #fff, 92px 218px #fff, 1879px 1172px #fff,
    228px 1773px #fff, 1742px 11px #fff, 51px 413px #fff, 344px 319px #fff,
    1109px 1772px #fff, 534px 264px #fff, 1735px 926px #fff, 509px 358px #fff,
    1752px 1064px #fff, 151px 1220px #fff, 1130px 436px #fff, 822px 1228px #fff,
    1046px 1679px #fff, 319px 595px #fff, 656px 1351px #fff, 352px 868px #fff,
    648px 1899px #fff, 180px 1175px #fff, 1417px 1241px #fff, 677px 1907px #fff,
    1572px 494px #fff, 1209px 787px #fff, 543px 1616px #fff, 1872px 1771px #fff,
    51px 687px #fff, 233px 1750px #fff, 655px 972px #fff, 55px 686px #fff,
    58px 523px #fff, 1725px 1375px #fff, 1082px 231px #fff, 938px 891px #fff,
    518px 1913px #fff, 714px 558px #fff, 1792px 935px #fff, 186px 1694px #fff,
    864px 305px #fff, 1571px 1013px #fff, 1245px 298px #fff, 1697px 1955px #fff,
    1165px 1703px #fff, 656px 1334px #fff, 1769px 852px #fff, 113px 1556px #fff,
    330px 823px #fff, 1520px 831px #fff, 1540px 594px #fff, 596px 11px #fff,
    1296px 1101px #fff;
  animation: animStar 100s linear infinite;
}
.stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 236px 403px #fff, 1308px 490px #fff, 1336px 543px #fff,
    1312px 1226px #fff, 592px 1475px #fff, 664px 725px #fff, 1973px 1704px #fff,
    1008px 356px #fff, 1561px 1097px #fff, 1758px 1386px #fff, 881px 1804px #fff,
    1866px 1161px #fff, 1370px 1685px #fff, 1005px 1381px #fff,
    265px 1848px #fff, 1031px 826px #fff, 384px 107px #fff, 885px 568px #fff,
    1936px 181px #fff, 894px 1960px #fff, 1812px 298px #fff, 1234px 767px #fff,
    424px 1648px #fff, 396px 440px #fff, 1637px 545px #fff, 1942px 1387px #fff,
    1149px 1311px #fff, 432px 1896px #fff, 415px 1255px #fff, 1082px 1423px #fff,
    314px 1654px #fff, 811px 1932px #fff, 1256px 574px #fff, 1619px 476px #fff,
    953px 537px #fff, 482px 343px #fff, 71px 1540px #fff, 1740px 663px #fff,
    1928px 1509px #fff, 374px 20px #fff, 488px 1283px #fff, 70px 950px #fff,
    1911px 1177px #fff, 1247px 1953px #fff, 1303px 1091px #fff,
    1739px 1679px #fff, 583px 974px #fff, 1331px 1611px #fff, 1056px 67px #fff,
    1883px 1568px #fff, 749px 1088px #fff, 1439px 1172px #fff,
    1556px 1822px #fff, 1673px 1898px #fff, 1027px 2000px #fff,
    1219px 1173px #fff, 640px 816px #fff, 184px 1919px #fff, 1421px 1528px #fff,
    1404px 1490px #fff, 1974px 106px #fff, 702px 303px #fff, 1956px 337px #fff,
    423px 344px #fff, 745px 453px #fff, 18px 728px #fff, 733px 1328px #fff,
    99px 1582px #fff, 1687px 461px #fff, 675px 1866px #fff, 209px 108px #fff,
    1302px 534px #fff, 644px 1199px #fff, 1911px 1907px #fff, 479px 1381px #fff,
    1548px 940px #fff, 262px 1738px #fff, 743px 227px #fff, 782px 1244px #fff,
    693px 861px #fff, 144px 697px #fff, 174px 1826px #fff, 1479px 1201px #fff,
    287px 1255px #fff, 1435px 1014px #fff, 1703px 1247px #fff, 683px 335px #fff,
    522px 1583px #fff, 575px 767px #fff, 1306px 507px #fff, 1911px 718px #fff,
    449px 1507px #fff, 694px 593px #fff, 755px 696px #fff, 1630px 605px #fff,
    936px 1352px #fff, 59px 325px #fff, 69px 886px #fff, 425px 115px #fff,
    406px 1940px #fff, 1310px 1973px #fff, 834px 1838px #fff, 356px 935px #fff,
    1620px 1202px #fff, 457px 1159px #fff, 1938px 1792px #fff, 954px 1144px #fff,
    478px 1605px #fff, 478px 467px #fff, 59px 48px #fff, 843px 1794px #fff,
    629px 1527px #fff, 784px 1409px #fff, 387px 127px #fff, 1540px 1516px #fff,
    820px 848px #fff, 499px 458px #fff, 1714px 430px #fff, 493px 1691px #fff,
    932px 1393px #fff, 1617px 1571px #fff, 1270px 431px #fff, 167px 1727px #fff,
    962px 736px #fff, 475px 263px #fff, 1269px 239px #fff, 899px 636px #fff,
    1035px 1289px #fff, 1476px 242px #fff, 269px 620px #fff, 1877px 1527px #fff,
    1103px 1261px #fff, 26px 1181px #fff, 808px 1029px #fff, 1041px 518px #fff,
    1905px 707px #fff, 796px 1213px #fff, 1045px 1711px #fff, 275px 853px #fff,
    1143px 1510px #fff, 393px 630px #fff, 512px 1792px #fff, 604px 1634px #fff,
    253px 1851px #fff, 469px 1357px #fff, 43px 1772px #fff, 11px 658px #fff,
    810px 55px #fff, 928px 854px #fff, 92px 218px #fff, 1879px 1172px #fff,
    228px 1773px #fff, 1742px 11px #fff, 51px 413px #fff, 344px 319px #fff,
    1109px 1772px #fff, 534px 264px #fff, 1735px 926px #fff, 509px 358px #fff,
    1752px 1064px #fff, 151px 1220px #fff, 1130px 436px #fff, 822px 1228px #fff,
    1046px 1679px #fff, 319px 595px #fff, 656px 1351px #fff, 352px 868px #fff,
    648px 1899px #fff, 180px 1175px #fff, 1417px 1241px #fff, 677px 1907px #fff,
    1572px 494px #fff, 1209px 787px #fff, 543px 1616px #fff, 1872px 1771px #fff,
    51px 687px #fff, 233px 1750px #fff, 655px 972px #fff, 55px 686px #fff,
    58px 523px #fff, 1725px 1375px #fff, 1082px 231px #fff, 938px 891px #fff,
    518px 1913px #fff, 714px 558px #fff, 1792px 935px #fff, 186px 1694px #fff,
    864px 305px #fff, 1571px 1013px #fff, 1245px 298px #fff, 1697px 1955px #fff,
    1165px 1703px #fff, 656px 1334px #fff, 1769px 852px #fff, 113px 1556px #fff,
    330px 823px #fff, 1520px 831px #fff, 1540px 594px #fff, 596px 11px #fff,
    1296px 1101px #fff;
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 955px 1667px #fff, 379px 446px #fff, 1495px 850px #fff,
    31px 915px #fff, 1954px 1270px #fff, 1866px 1755px #fff, 552px 491px #fff,
    1368px 453px #fff, 1189px 1940px #fff, 270px 968px #fff, 162px 640px #fff,
    573px 101px #fff, 543px 1457px #fff, 697px 628px #fff, 986px 1990px #fff,
    795px 1694px #fff, 1547px 1694px #fff, 1454px 1576px #fff,
    1398px 1236px #fff, 1375px 1856px #fff, 1969px 1329px #fff,
    1016px 519px #fff, 1057px 654px #fff, 128px 1220px #fff, 1781px 217px #fff,
    907px 1225px #fff, 1056px 532px #fff, 587px 1345px #fff, 922px 364px #fff,
    1845px 1122px #fff, 352px 457px #fff, 1025px 1290px #fff, 1166px 1416px #fff,
    974px 1599px #fff, 1345px 518px #fff, 10px 298px #fff, 1735px 76px #fff,
    876px 1873px #fff, 435px 856px #fff, 106px 1961px #fff, 239px 1985px #fff,
    1427px 1568px #fff, 1801px 1584px #fff, 632px 1902px #fff, 531px 566px #fff,
    1597px 65px #fff, 1116px 518px #fff, 236px 1128px #fff, 887px 546px #fff,
    1875px 589px #fff, 1082px 868px #fff, 1907px 1899px #fff, 363px 942px #fff,
    218px 1322px #fff, 891px 1482px #fff, 1209px 837px #fff, 88px 1941px #fff,
    1699px 224px #fff, 811px 467px #fff, 797px 1423px #fff, 290px 611px #fff,
    266px 492px #fff, 52px 1454px #fff, 1768px 688px #fff, 971px 1937px #fff,
    729px 119px #fff, 1914px 719px #fff, 288px 771px #fff, 512px 1792px #fff,
    1962px 1765px #fff, 1672px 1895px #fff, 1497px 1578px #fff,
    1023px 499px #fff, 1304px 1943px #fff, 1615px 932px #fff, 1476px 1397px #fff,
    1903px 917px #fff, 340px 405px #fff, 318px 1614px #fff, 1652px 139px #fff,
    1614px 1056px #fff, 1878px 1589px #fff, 850px 93px #fff, 1924px 424px #fff,
    33px 1864px #fff, 1211px 298px #fff, 1254px 1265px #fff, 1925px 729px #fff,
    1284px 1191px #fff, 621px 1445px #fff, 1294px 777px #fff, 1704px 1328px #fff,
    260px 234px #fff, 1094px 1221px #fff, 1055px 1674px #fff, 1789px 1753px #fff,
    1655px 122px #fff, 1948px 488px #fff, 628px 1502px #fff, 1463px 916px #fff;
  animation: animStar 150s linear infinite;
}
.stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 955px 1667px #fff, 379px 446px #fff, 1495px 850px #fff,
    31px 915px #fff, 1954px 1270px #fff, 1866px 1755px #fff, 552px 491px #fff,
    1368px 453px #fff, 1189px 1940px #fff, 270px 968px #fff, 162px 640px #fff,
    573px 101px #fff, 543px 1457px #fff, 697px 628px #fff, 986px 1990px #fff,
    795px 1694px #fff, 1547px 1694px #fff, 1454px 1576px #fff,
    1398px 1236px #fff, 1375px 1856px #fff, 1969px 1329px #fff,
    1016px 519px #fff, 1057px 654px #fff, 128px 1220px #fff, 1781px 217px #fff,
    907px 1225px #fff, 1056px 532px #fff, 587px 1345px #fff, 922px 364px #fff,
    1845px 1122px #fff, 352px 457px #fff, 1025px 1290px #fff, 1166px 1416px #fff,
    974px 1599px #fff, 1345px 518px #fff, 10px 298px #fff, 1735px 76px #fff,
    876px 1873px #fff, 435px 856px #fff, 106px 1961px #fff, 239px 1985px #fff,
    1427px 1568px #fff, 1801px 1584px #fff, 632px 1902px #fff, 531px 566px #fff,
    1597px 65px #fff, 1116px 518px #fff, 236px 1128px #fff, 887px 546px #fff,
    1875px 589px #fff, 1082px 868px #fff, 1907px 1899px #fff, 363px 942px #fff,
    218px 1322px #fff, 891px 1482px #fff, 1209px 837px #fff, 88px 1941px #fff,
    1699px 224px #fff, 811px 467px #fff, 797px 1423px #fff, 290px 611px #fff,
    266px 492px #fff, 52px 1454px #fff, 1768px 688px #fff, 971px 1937px #fff,
    729px 119px #fff, 1914px 719px #fff, 288px 771px #fff, 512px 1792px #fff,
    1962px 1765px #fff, 1672px 1895px #fff, 1497px 1578px #fff,
    1023px 499px #fff, 1304px 1943px #fff, 1615px 932px #fff, 1476px 1397px #fff,
    1903px 917px #fff, 340px 405px #fff, 318px 1614px #fff, 1652px 139px #fff,
    1614px 1056px #fff, 1878px 1589px #fff, 850px 93px #fff, 1924px 424px #fff,
    33px 1864px #fff, 1211px 298px #fff, 1254px 1265px #fff, 1925px 729px #fff,
    1284px 1191px #fff, 621px 1445px #fff, 1294px 777px #fff, 1704px 1328px #fff,
    260px 234px #fff, 1094px 1221px #fff, 1055px 1674px #fff, 1789px 1753px #fff,
    1655px 122px #fff, 1948px 488px #fff, 628px 1502px #fff, 1463px 916px #fff;
}

.text {
  align-items: center;
  bottom: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding: 0 20px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.text h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
