.button {
  background: none;
  border: none;
  border-radius: 30px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 15px 30px 15px 30px;
  text-transform: uppercase;
  transition: .25s background-color, .25s transform;
}

.button:hover {
  text-decoration: none;
}

.button.icon {
  background-repeat: no-repeat;
  background-size: 36px auto;
  background-position: center left 15px;
  padding: 15px 30px 15px 61px;
}

.button.primary {
  background-color: #c1ab70;
}

.button.primary:hover {
  background-color: #d8bf7d;
  text-decoration: none;
  transform: scale(1.1);
}

.button.secondary {
  color: #CCC;
}

.button.secondary:hover {
  color: white;
}
